.app-cont{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: top;
  justify-content:flex-start;
  width: 100%;
  height: 200vh;
  background-color: var(--background-color);
}
