
.our-vision {
  background: linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url('../../Images/pic/Life style/pic9.jpg') no-repeat center center/cover;
  padding: 100px 20px;
  color: white;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.our-vision.visible {
  opacity: 1;
  transform: translateY(0);
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease, transform 1s ease;
}

.our-vision.visible .fade-up {
  opacity: 1;
  transform: translateY(0);
}
.our-vision h2 {
  font-size: 40px;
  color: var(--primary-color);
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: transform 0.3s ease;
}

.our-vision h2:hover {
  transform: scale(1.05);
}

.intro, .details {
  font-size: 18px;
  line-height: 1.7;
  color: #eaeaea;
  margin-bottom: 20px;
}

/* زر CTA */
.cta-button {
  background-color: var(--primary-color);
  color: #000;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 0.625rem;
  padding: .7rem 2rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
  background-size: 200% auto;
  background-image: linear-gradient(45deg, #df9925 0%, #b3741a 51%, #df9925 100%);
  border-radius: 0.625rem;
  border: none;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: 0 0 0.875rem -0.5rem #df9925;
}
.cta-button:hover{
  background-position: right center;
  filter: brightness(1.1);
  }
.cta-button:hover {
  background-color: #e0b400;
  transform: translateY(-3px) scale(1.05);
}
